<a href="https://colab.research.google.com/github/AquaIsLove/Neural-networks/blob/main/Titanik/titanik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Работа с данными

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("data.csv")

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df_filtered = df[['Survived','Pclass','Sex','Age','Fare','Embarked']]

In [ ]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   Fare      891 non-null    float64
 5   Embarked  889 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 41.9+ KB

In [ ]:
df_filtered['Age'].mean()

29.69911764705882

In [ ]:
df_filtered['Age_rep'] = df_filtered['Age'].fillna(29.69)

In [ ]:
df_filtered['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [ ]:
df_filtered['Embarked_rep'] = df_filtered["Embarked"].fillna('S');

In [ ]:
df_filtered['is_male'] = df_filtered['Sex'] == 'male'

In [ ]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Survived      891 non-null    int64
 1   Pclass        891 non-null    int64
 2   Sex           891 non-null    object
 3   Age           714 non-null    float64
 4   Fare          891 non-null    float64
 5   Embarked      889 non-null    object
 6   Age_rep       891 non-null    float64
 7   Embarked_rep  891 non-null    object
 8   is_male       891 non-null    bool
dtypes: bool(1), float64(3), int64(2), object(3)
memory usage: 56.7+ KB

In [ ]:
df_filtered =  df_filtered[['Survived','Pclass','Fare','Age_rep','Embarked_rep','is_male']]

In [ ]:
df_filtered = pd.get_dummies(df_filtered, ['Embarked_rep'])

In [ ]:
df_filtered.head()

,Survived,Pclass,Fare,Age_rep,is_male,Embarked_rep_C,Embarked_rep_Q,Embarked_rep_S
0,0,3,7.2500,22.0,True,0,0,1
1,1,1,71.2833,38.0,False,1,0,0
2,1,3,7.9250,26.0,False,0,0,1
3,1,1,53.1000,35.0,False,0,0,1
4,0,3,8.0500,35.0,True,0,0,1

# Обучение

In [ ]:
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [ ]:
from sklearn.linear_model import LogisticRegression

from sklearn.tree import DecisionTreeClassifier

In [ ]:
x = df_filtered[['Pclass','Fare','Age_rep','is_male','Embarked_rep_C','Embarked_rep_Q','Embarked_rep_S']]

y = df_filtered['Survived']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

x_train.head()

,Pclass,Fare,Age_rep,is_male,Embarked_rep_C,Embarked_rep_Q,Embarked_rep_S
26,3,7.2250,29.69,True,1,0,0
295,1,27.7208,29.69,True,1,0,0
125,3,11.2417,12.00,True,1,0,0
419,3,24.1500,10.00,False,0,0,1
130,3,7.8958,33.00,True,1,0,0

In [ ]:
sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

x_train

array([[ 0.82691057, -0.49459665,  0.00641433, ...,  2.10597115,
        -0.31426968, -1.62827579],
       [-1.55673447, -0.10832832,  0.00641433, ...,  2.10597115,
        -0.31426968, -1.62827579],
       [ 0.82691057, -0.41889705, -1.35598586, ...,  2.10597115,
        -0.31426968, -1.62827579],
       ...,
       [ 0.82691057, -0.48195461,  0.00641433, ..., -0.47484031,
        -0.31426968,  0.61414657],
       [ 0.82691057, -0.47904852,  1.03148763, ..., -0.47484031,
        -0.31426968,  0.61414657],
       [ 0.82691057, -0.10495108, -1.97210805, ..., -0.47484031,
        -0.31426968,  0.61414657]])

In [ ]:
x_train = pd.DataFrame(x_train, columns=x.columns)
x_test = pd.DataFrame(x_test, columns=x.columns)

x_train.head()

,Pclass,Fare,Age_rep,is_male,Embarked_rep_C,Embarked_rep_Q,Embarked_rep_S
0,0.826911,-0.494597,0.006414,0.746985,2.105971,-0.31427,-1.628276
1,-1.556734,-0.108328,0.006414,0.746985,2.105971,-0.31427,-1.628276
2,0.826911,-0.418897,-1.355986,0.746985,2.105971,-0.31427,-1.628276
3,0.826911,-0.175624,-1.510016,-1.338715,-0.474840,-0.31427,0.614147
4,0.826911,-0.481955,0.261335,0.746985,2.105971,-0.31427,-1.628276

In [ ]:
def show_metrics(metrics):
  for metric_name, metric_value in metrics.items():
    print(f'{metric_name}: {metric_value}')

In [ ]:
logistic = LogisticRegression()
logistic.fit(x_train, y_train)

logistic_metrics = {
    'Accuracy score': accuracy_score(y_test, logistic.predict(x_test)),
    'Precision score': precision_score(y_test, logistic.predict(x_test)),
    'Recall score': recall_score(y_test, logistic.predict(x_test)),
    'F1 score': f1_score(y_test, logistic.predict(x_test)),
}

show_metrics(logistic_metrics)

Accuracy score: 0.7653631284916201
Precision score: 0.746031746031746
Recall score: 0.6438356164383562
F1 score: 0.6911764705882354